/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
}

section {
    padding: 50px 0;
}
.violet-bg {
    background-color: #9792e4;
}

.container {
    width: 90%;
    margin: 0 auto;
}


/* REGOLE HEADER */

header {
    width: 100%;
    height: 70px;
    background-color: #0084fd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    /* DEBUG */
    width: 100px;
    height: 50px;
    background-color: chocolate;
}

#hamburger {
    /* DEBUG */
    width: 100px;
    height: 50px;
    background-color: chocolate;
}

#nav-list {
    /* DEBUG */
    width: 200px;
    height: 50px;
    background-color: bisque;
    display: none;
}

/* regole header responsive */
/* desktop */
@media all and (min-width: 1024px) {

    .container {
        width: 65%;
    }

    #hamburger {
        display: none;
    }

    #nav-list {
        display: inline-block;
    }
}


/* REGOLE MAIN */

/* regole sezione applicazione demo */

#demo-container {
    margin-top: 70px;
    display: block;
}

.demo-col {
    background-color: #b5ddff;
    margin-bottom: 20px;
    /* DEBUG */
    width: 100%;
    min-height: 400px;
}

/* regole applicaizone demo responsive */

/* tablet */
@media all and (min-width: 568px) {

    #demo-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }

    .demo-col {
        width: calc(100% / 3 - 10px);
    }

    #bigger-col {
        width: calc((100% / 3) * 2 - 5px);
    }

}


/* regole sezione planning */

#strat-plan {
    /* DEBUG */
    width: 100%;
    height: 400px;
    background-color: yellow;
}

#app-dev {
     /* DEBUG */
     width: 100%;
     height: 300px;
     background-color: white;
     margin-top: 30px;
}

/* regole planning responsive */
/* desktop */
@media all and (min-width: 1024px) {

    #plan-container {
        display: flex;
        align-items: flex-end;
        gap: 15px;
    }

    #strat-plan, #app-dev {
        width: 50%;
    }
}



/* regole sezione testimonial */

#testimonial-text{
    /* DEBUG */
    width: 100%;
    height: 200px;
    background-color: aquamarine;
    margin-bottom: 20px;
}

.profile {
    background-color: #9792e4;
     /* DEBUG */
     width: 100%;
     height: 200px;
     margin-bottom: 20px;
}



/* regole sezione benefit */

.card {
    background-color: white;
    /* DEBUG */
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

/* regole benefit responsive */
/* tablet */

@media all and (min-width: 568px) {

    #benefit-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

    }

    .card {
        width: calc(50% - 20px);
        margin-bottom: 0;
    }
}

/* desktop */

@media all and (min-width: 1024px) {

    .card {
        width: calc(100% / 3 - 20px);
    }
}



/* regole sezione about us */

#about-text {
    /* DEBUG */
    width: 100%;
    height: 500px;
    background-color: brown;
    margin-bottom: 20px;
}

#cit {
    /* DEBUG */
    width: 100%;
    height: 300px;
    background-color: blue;
}

/* regole about us responsive */

/* tablet */
@media all and (min-width: 568px) {

    #about-container {
        display: flex;
        gap: 30px;
    }

    #about-text {
        width: 60%;
    }

    #cit {
        width: calc(40% - 30px);
    }


}