/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
}

section {
    padding: 50px 0;
}
.violet-bg {
    background-color: #9792e4;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.link-box {
    text-decoration: none;
    border-radius: 20px;
}


/* REGOLE HEADER */

header {
    width: 100%;
    height: 70px;
    background-color: #0084fd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: block;
    height: 50%;
}

#hamburger {
    height: 50%;
}

.fa-bars {
    color: white;
    font-size: xx-large;
}

#nav-list {
    display: none;
}

#nav-list ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav-list li {
    line-height: 70px;
    display: block;
}

#nav-list li a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: white;
}

.white-bg {
    background-color: white;
    color: black;
    padding: 5px 10px;
}

/* regole header responsive */
/* desktop */
@media all and (min-width: 1024px) {

    .container {
        width: 65%;
    }

    #hamburger {
        display: none;
    }

    #nav-list {
        display: inline-block;
    }
}


/* REGOLE MAIN */

/* regole sezione applicazione demo */

#demo-container {
    margin-top: 70px;
    display: block;
}

.demo-col {
    background-color: #b5ddff;
    margin-bottom: 20px;
    border-radius: 20px;
}

.col-text {
    padding: 30px;
    text-align: center;
}

#align-right {
    text-align: left;
}

.col-text h3 {
    color: #0084fd;
    font-size: x-large;
}

.col-text p {
    padding: 20px 0;
    color: #5c7182;
    font-weight: bold;
    line-height: 1.5;
}

.blue-bg {
    text-align: center;
    display: block;
    background-color: #0084fd;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px;
}

.col-image img {
    width: 100%;
    margin-bottom: -5px;
}

.col-icon {
    color: #0084fd;
    font-size: 50px;
}

/* regole applicaizone demo responsive */

/* tablet */
@media all and (min-width: 568px) {

    #demo-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }

    .demo-col {
        width: calc(100% / 3 - 10px);
    }

    #bigger-col {
        width: calc((100% / 3) * 2 - 5px);
    }

    .col-image img {
        width: 50%;
    }

    .blue-bg {
        width: 40%;
    }
}

/* desktop */
@media all and (min-width: 1024px) {

    #bigger-col {
        display: flex;
    }

    #align-right {
        width: 60%;
    } 

    .blue-bg {
        width: 80%;
    }

    .col-image {
        width: 40%;
        align-self: flex-end;
    }

    .col-image img {
        width: 100%;
    }
}



/* regole sezione planning */

#plan-image img {
    max-width: 100%;
}

.plan-text {
    color: white;
    line-height: 1.5;
}

.plan-text h2 {
    margin: 30px 0;
    font-size: xx-large;
}

#app-dev {
    padding: 20px;
    border-radius: 40px;
    text-align: center;
     background-color: white;
     margin-top: 30px;
}

#dev-image img {
    width: 70%;
}

#dev-text p {
    line-height: 1.5;
    font-style: italic;
    margin: 20px 0;
}

#arrow-down {
    display: inline-block;
    color: black;
    font-size: x-large;
    background-color: #9792e4;
    padding: 8px 15px;
    border-radius: 50%;
}

/* regole planning responsive */

/* tablet */
@media all and (min-width: 568px) {

    .plan-text h2 {
        font-size: 50px;
        margin: 50px 0;
    }
}

/* desktop */
@media all and (min-width: 1024px) {

    #plan-container {
        display: flex;
        align-items: flex-end;
        gap: 40px;
        width: 55%;
    }

    #strat-plan, #app-dev {
        width: 50%;
    }

    .plan-text h2 {
        font-size: 40px;
        margin-top: 80px;
    }
}



/* regole sezione testimonial */

#testimonial-text{
    /* DEBUG */
    width: 100%;
    height: 200px;
    background-color: aquamarine;
    margin-bottom: 20px;
}

.profile {
    background-color: #9792e4;
     /* DEBUG */
     width: 100%;
     height: 200px;
     margin-bottom: 20px;
}



/* regole sezione benefit */

.card {
    background-color: white;
    /* DEBUG */
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

/* regole benefit responsive */
/* tablet */

@media all and (min-width: 568px) {

    #benefit-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

    }

    .card {
        width: calc(50% - 20px);
        margin-bottom: 0;
    }
}

/* desktop */

@media all and (min-width: 1024px) {

    .card {
        width: calc(100% / 3 - 20px);
    }
}



/* regole sezione about us */

#about-text {
    /* DEBUG */
    width: 100%;
    height: 500px;
    background-color: brown;
    margin-bottom: 20px;
}

#cit {
    /* DEBUG */
    width: 100%;
    height: 300px;
    background-color: blue;
}

/* regole about us responsive */

/* tablet */
@media all and (min-width: 568px) {

    #about-container {
        display: flex;
        gap: 30px;
    }

    #about-text {
        width: 60%;
    }

    #cit {
        width: calc(40% - 30px);
    }

}



/* regole sezione free trial */

#trial-text {
    /* DEBUG */
    width: 100%;
    height: 300px;
    background-color: green;
}

/* regole free trial responsive */
/* tablet */
@media all and (min-width:568px) {
    #trial-container {
        width: 80%;
    }
}

/* desktop */
@media all and (min-width:1024px) {
    #trial-container {
        width: 50%;
    }
}



/* REGOLE FOOTER */

footer {
    background-color: #333333;
    padding: 50px 0;
}

#footer-text {
     /* DEBUG */
     width: 100%;
     height: 150px;
     background-color: red;
     text-align: center;
}

/* regole footer responsive */
/* tablet */
@media all and (min-width:568px) {
    #foot-container {
        width: 70%;
    }
}

/* desktop */
@media all and (min-width:1024px) {
    #foot-container {
        width: 40%;
    }
}
